<div class="row">
    <div class="col-md-2">
        <!--Sidebar content-->
        <p>
            Search: <input ng-model="query"/>
        </p>
        <p>
        <p>
            Sort by:
            <select ng-model="orderProp">
                <option value="name">Alphabetical</option>
                <option value="total">Total</option>
            </select>
        </p>
        </p>
        <ul class="nav nav-pills">
            <li class="active">
                <a href="#!/offices/">Home</a>
            </li>
        </ul>
    </div>
    <div class="col-md-10">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Office ID</th>
                <th>Name</th>
                <th>Year<select ng-model="$ctrl.year">
                    <option value="2014" selected>2014</option>
                    <option value="2015">2015</option>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                </select></th>
                <th>Total</th>
                <th>Approved</th>
                <th>Revised</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="office in $ctrl.offices | filter:query | filter:$ctrl.year | orderBy:orderProp">
                <td>{{ office.subOfficeId }}</td>
                <td>{{ office.name }}</td>
                <td>{{ office.year }}</td>
                <td><a data-toggle="modal" data-target="#myModal" ng-click="$ctrl.setData($index)">
                    {{ office.total | currency : "€" : 2}}</a></td>
                <td>{{ office.approved }}</td>
                <td>{{ office.revised }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <ul class="list-group">
                        <li class="list-group-item"><span class="badge">{{ $ctrl.pagio | currency : "€" : 2 }}</span>
                            Πάγιο - Consolidated Fund
                        </li>
                        <li class="list-group-item"><span class="badge">{{ $ctrl.taktikes | currency : "€" : 2}}</span>
                            Τακτικές Δαπάνες - Current Expendinture
                        </li>
                        <li class="list-group-item"><span
                                class="badge">{{ $ctrl.anaptuksiakes | currency : "€" : 2 }}</span>
                            Αναπτυξιακές Δαπάνες - Development Expenditure
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>