<!DOCTYPE html>
{% load staticfiles %}

<html html lang="en" ng-app="phonecatApp">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap.css" %}" />
        <title>Budget</title>
    </head>


        {% block body_block %}{% endblock %}



<script src="{% static "underscore/underscore.js" %}"></script>
<script src="{% static "angular/angular.js" %}"></script>
<script src="{% static "angular-route/angular-route.js" %}"></script>
<script src="{% static "angular-resource/angular-resource.js" %}"></script>
<script src="{% static "jquery/dist/jquery.js" %}"></script>
<script src="{% static "bootstrap/js/modal.js" %}"></script>
<script src="{% static "app/app.module.js" %}"></script>
<script src="{% static "app/app.config.js" %}"></script>
<script src="{% static "app/office.module.js" %}"></script>
<script src="{% static "app/office.component.js" %}"></script>
<script src="{% static "app/sub-office-detail.module.js" %}"></script>
<script src="{% static "app/sub-office-detail.component.js" %}"></script>






</html>